* {
	margin: 0;
	padding:0;
}

html, body {
	height:100%;
	
}

.wrapper{
	min-height:100%;
	height: auto !important;
	height: 100%;
	margin:0 auto -20px;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 40px;
	background-color: #db000b;
}

a.title {
	color: white;
	font-size: 30px;
}

div.menu {
	border-color: black;
	background-color:#c0c0c0;
	float:left;
	text-align:left;
	width: 150px;
	min-height:840px;
	clear:left;
	padding-left:10px;
	padding-top:5px;
}

ul.menu {
	list-style-type: none;
}

div.content {
	float: left;
	padding: 40px;
	height: 400px;
	overflow-y:auto;
}

div.details {
	float: left;
	padding: 40px;
}

table.details {

}

table.details label{

}

table.details tr {

}
table.details th {
	text-align: left;
	width: 125px;
}
table.details td {
	text-align: left;
	width: 125px;
}
/*
.push{
	height: 20px;
	clear:both;
	width:100%;
	background-color:#ff0000;
}
*/

div.footer {
	clear: both;
	font-size: small;
	background-color: #db000b;
	color: white;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 20px;
}

a.footer {
	color: white;
}