* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
	background-color: #e0e0e0;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 80px;
	background-color: #db000b;
}

ul {
	padding: 0;
	list-style: none;
}

ul li {
	width: 120px;
	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 21px;
}

ul li a {
	display: block;
	padding: 5px 10px;
	color: #333;
	background: #f2f2f2;
	text-decoration: none;
}

ul li a:hover {
	color: #fff;
	background: #939393;
}

ul li ul {
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}

ul li:hover ul {
	display: block; /* display the dropdown */
}

a.title {
	color: white;
	font-size: 30px;
}

div.menu {
	border-color: black;
	background-color: #c0c0c0;
	/*float: left;*/
	text-align: center;
	width: 100%;
	min-height: 20px;
	/*clear: left;*/
}

div.content {
	background-color: #e0e0e0;
	margin: 20px;
	margin-bottom: 0px;
	height: 100%;
}

div.personenlijst {
	width: 470px;
	height: 465px;
	overflow-y: auto;
}

div.details {
	background-color: #e0e0e0;
	float: left;
}

.gegevens-table {
	outline: 2px solid black;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.organisiate-details {
	border: 2px dotted #808080;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	margin: 20px;
}

table.details label {
	
}

table.details tr {
	
}

table.details th {
	text-align: left;
	width: 125px;
}

table.details td {
	text-align: left;
	width: 125px;
}
/*
.push{
	height: 20px;
	clear:both;
	width:100%;
	background-color:#ff0000;
}
*/
div.footer {
	clear: both;
	font-size: small;
	background-color: #db000b;
	color: white;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 20px;
}

a.footer {
	color: white;
}

table#lijst {
	border-collapse: collapse;
}

#lijst tr {
	background-color: #eee;
	border-top: 1px solid #fff;
}

#lijst tr:hover {
	background-color: #ccc;
}

#lijst th {
	background-color: #fff;
}

#lijst th, #example td {
	padding: 3px 5px;
}

#lijst td:hover {
	cursor: pointer;
}