.banner {
	border-style: ridge;
	border-width: 10px;
	border-color: #000000;
	background-color:#ff0000;
	color: white;
	
}

.footer {
	color: white;
	background-color:#ff0000;
	
}

.sidebar {
	
}

.row-title{
	
}

.caption{
	
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	color: #000;
	font-size: 100%;
}

body {
	padding: 2%;
}

h1, h2, h3, p, li, a {
	
}

h3 {
	font-size:100%;
}

h2{
	font-size: 110%;
}

h1 {
	font-size: 120%;
}

fieldset {
	border: 1px solid #EEE;
}

div.fieldset {
	margin-top: 24px;
}

legend {
	font-family: Arial;
	color: #000;
	font-size: 120%;
	font-weight: bold;
}

input {
	inline-block;
}

.validationError {
	padding: 2px;
	font-weight: bold;
	color: #CF000F;
}

.validationError:before {
    content: "";
    display: inline-block;
    background: url("../images/icons/silk/error.png") no-repeat;
    background-position: 2px 8px;
    margin-right: 2px;
    width: 24px;
    height: 24px;
}




.error {
	padding: 6px;
	background-color: #FF5050;
}

.error:before {
    content: "";
    display: inline-block;
    background: url("../images/icons/silk/exclamation.png") no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 6px 0 0;
}

p.warning {
	padding: 6px;
	background-color: #F5D76E;
}

p.warning:before {
    content: "";
    display: block;
    background: url("../images/icons/silk/error.png") no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 6px 0 0;
}


#menu {
	
	width: 100%;
	min-width: 100%;
	border-bottom: 3px solid #a01126;
	margin-bottom: 32px;
}

ul#menubar {
	min-height: 40px;
	padding-left: 42px;
	background: url("../images/rsv.png") no-repeat;
	background-size: auto 100%;
}

ul#menubar li {
	display: inline;
	float: left; margin-right : 6px;
	background-color: #E51937;
	border-bottom: 6px solid #e51937;
}

ul#menubar li:hover {
	border-bottom: 6px solid #b7142c;
}

ul#menubar li.active {
	border-bottom: 6px solid #a01126;
}

ul#menubar li a {
	padding: 6px 12px;
	display: block;
	font-family: Arial;
	font-size: 14pt;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}





ul li {
	list-style: none;
	margin-top: 2px;
}

ul li a {
	font-family: Arial;
	font-size: 14px;
	padding-left: 22px;
}









#relatielist li {
	list-style: none;
	margin-top: 2px;
}

#relatielist li a {
	font-family: Arial;
	font-size: 14px;
	padding-left: 22px;
}

#relatielist li.organisatie {
	background: url("../images/icons/silk/lorry.png") no-repeat;
	background-position: left center;
}

#relatielist li.persoon {
	background: url("../images/icons/silk/user.png") no-repeat;
	background-position: left center;
}

#relatielist li.new {
	background: url("../images/icons/silk/add.png") no-repeat;
	background-position: left center;
}



#adressenlist li {
	list-style: none;
	margin-top: 2px;
}

#adressenlist li a {
	font-family: Arial;
	font-size: 14px;
	padding-left: 22px;
}

#adressenlist li.adres {
	background: url("../images/icons/silk/email.png") no-repeat;
	background-position: left center;
}

#adressenlist li.adres:hover {
	background: url("../images/icons/silk/email_edit.png") no-repeat;
	background-position: left center;
}

#adressenlist li.adres.correspondentie:after {
	display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: transparent url("../images/icons/silk/star.png") no-repeat;
}

#adressenlist li.new {
	/*background-image: url("../images/icons/silk/email_add.png") no-repeat;*/
	background: url("../images/icons/silk/add.png") no-repeat;
	background-position: left center;
}



li.new {
	background: url("../images/icons/silk/add.png") no-repeat;
	background-position: left center;
}



/* Start of Column CSS */
#container2 {
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
}

#container1 {
	float: left;
	width: 100%;
	position: relative;
	right: 50%;
	border-right: 1px solid #eee;
}

#col1 {
	float: left;
	width: 50%;
	position: relative;
	left: 50%;
	overflow: hidden;
}

#col2 {
	float: left;
	width: 50;
	position: relative;
	left: 50%;
	overflow: hidden;
}
